body{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 5%;
    background: url(images/sunnycold.jpg);
    background-size: cover;
    color: rgba(255, 255, 255, 0.966);
}

.container{
    min-width: 300px;
    min-height: 360px;
    margin:auto;
    margin-top: 5%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    
}
.form {
    padding-top: 50px;
    text-align: center;
}

img {
    
    max-width: 150px;
    
}